<%- include ./timestart.ejs %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Biscuits Industrial</title>

<link rel='stylesheet' href='/stylesheets/bootstrap.css' />

   <body>
     <head>
     <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
   <div class="jumbotron text-center" style="margin-bottom:30px">
     <h1>Biscuits Industrial</h1> <h3> Eve Online, Spreadsheets in space </h3>
   </div>
   </head>
<!-- script goes here from mike-->
<%- include ./include/shipnavbar.ejs %>
<%- include ./contents/announcements.ejs %>
<%- include ./contents/ship.ejs %>

<!-- Footsie for the footer-->
<%- include ./include/footer.ejs %>
<%- include ./include/scripts.ejs %>
 </body>
     </html>
